.breadcrumb {
  color: dimgrey;
  cursor: pointer;
  font-weight: 400;
}

.breadcrumbActive {
  color: aqua;
  cursor: default;
  font-weight: 600;
}

.containerTitle {
  font-weight: 600;
}

.card {
  min-width: 400px;
  min-height: 400px;
}

.cardImage {
  height: 300px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentText {
  width: 70%;
  padding: 10px;
  text-align: left;
}

.contentImage {
  max-width: 70%;
  margin: 10px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.destinationContainer {
  animation-name: fadein;
  animation-duration: 1s;
}
