.fullHeader {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
  position: sticky;
  height: 5vh;
}

.sidebarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  position: sticky;
  height: 5vh;
}

.menuContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 260px;
}

.menuItem {
  cursor: pointer;
  font-weight: 400;
  padding: 5px;
}

.menuItem:hover {
  font-weight: 600;
}

.selectedMenuItem {
  composes: menuItem;
  cursor: default;
  border-bottom: 2px;
  border-bottom-style: solid;
  font-weight: 600;
}

.headerName {
  cursor: pointer;
  font-size: 28px;
  font-weight: 600;
  padding: 5px;
}

.iconContainer {
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.54);
  padding: 5px;
}
