.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
}

.iconContainer {
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.54);
  padding: 5px;
}

.subscript {
  font-size: 10px;
}
