.landingContainer {
  text-align: center;
}

.landingImg {
  width: 100%;
  height: 95vh;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.landingText {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.landingText > div {
  padding: 10px;
  color: white;
  font-weight: 600;
  font-size: 40px;
}

.bylineContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.portrait {
  height: 300px;
  width: 300px;
  border-radius: 150px;
}

.byline {
  margin-left: 20px;
}
