.moduleHeader {
  composes: moduleTitle from '../../App.module.css';
}

.bioContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bioContainerPortrait {
  composes: bioContainer;
  display: block;
}

.bioImg {
  width: 80%;
}
