.App {
  text-align: center;
  font-family: 'Comfortaa', sans-serif;
}

html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
  padding: 0;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

.moduleTitle {
  font-weight: 600;
}
